<section>
  <form method="POST" action="/memos/<%= memo.id %>">
    <input type="text" name="title" placeholder="メモのタイトルを入力..." value="<%= memo.title %>">
    <textarea name="content" placeholder="メモの内容を入力..."><%= memo.content %></textarea>
    <button type="submit" name="_method" value="PATCH">変更</button>
  </form>
</section>
