<% content_for :title, memo.title %>

<section class="memo-view-container">
  <h2 class="main-title"><%= memo.title %></h2>
  <div class="memo-view__content"><%= memo.content %></div>
  <form class="buttons-container" method="post" action="/memos/<%= memo.id %>">
    <a class="button button--primary" role="button" href="/memos/<%= memo.id %>/edit">変更</a>
    <button class="button" type="submit" name="_method" value="delete">削除</button>
  </form>
</section>
