<section>
  <h2>メモ一覧</h2>
  <p><a href="/memos/new">追加</a></p>
  <ul>
  <% memos.each do |memo| %>
    <li>
      <a href="/memos/<%= memo.id %>">
        <%= memo.title.empty? ? '(無題のメモ)' : memo.title %>
      </a>
    </li>
  <% end %>
  </ul>
</section>
