<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="app-container">
    <h1 class="app-title"><a href="/">メモアプリ</a></h1>
    <main class="main">
      <%== yield %>
    </main>
  </div>
</body>
</html>
