<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if content_for?(:title) %><%= yield_content(:title) %> - <% end %>メモアプリ</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="app-container">
    <h1 class="app-title"><a href="/">メモアプリ</a></h1>
    <main class="main">
      <%== yield %>
    </main>
  </div>
</body>
</html>
